<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NVSPlotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NVSPlotter.Properties.Settings>
            <setting name="bedX" serializeAs="String">
                <value>841</value>
            </setting>
            <setting name="bedY" serializeAs="String">
                <value>1189</value>
            </setting>
            <setting name="circleSegments" serializeAs="String">
                <value>128</value>
            </setting>
        </NVSPlotter.Properties.Settings>
    </userSettings>
</configuration>